.client-header {
    margin-bottom: 1rem;
}

.client-bonus {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 1.2rem;
    
    & span:first-child {
        font-weight: bold;
        color: rgb(105, 110, 110);
        letter-spacing: .02rem;
    }

    & div:not(.loader-button) {
        display: flex;
        align-items: center;
        gap: .2rem;

        & input {
            width: 2.8rem;
            padding: .25rem;
        }
    }

    & button {
        font-size: .9rem;
        padding: .3rem .8rem;

        & .loader-button {
            width: .8rem !important;
            height: .8rem !important;
        }
    }
}

.create-client-modal-content,
.client-info-modal-content {
    gap: 1rem;
}

.create-client-modal-content {
    width: calc(var(--modal-content-width) - 2rem);

    & input, & textarea {
        padding: .3rem;
    }

    & .modal-content-name {
        margin-bottom: 1rem;
    }
    
    & .form-check {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        & form {
            display: flex;
            gap: .2rem;

            & label {
                display: flex;
                align-items: center;
                gap: .4rem;
            }
        }
    }
}

.client-info-modal-content {
    padding: 1rem;
    padding-top: 0;
    width: calc(var(--modal-content-width) + 6rem);

    & .client-info {
        gap: 1.5rem;

        & .form {
            &.instagram {
                flex-direction: row;
                align-items: center;

                & svg {
                    width: 2rem;
                }
            }

            & h2 {
                font-weight: bold;
            }

            & h3 {
                font-weight: normal;
                font-size: 1.1rem;
            }

            & .client-comment {
                overflow-x: auto;
            }

            & a {
                text-decoration: none;
                color: rgb(26, 26, 199);

                &:hover {
                    text-decoration: underline;
                }
            }

            & .order-header {
                margin: 0;
                margin-bottom: 1rem;

                & .order-arrows {
                    display: flex;
                    gap: 1.5rem;
    
                    & span {
                        font-size: 1.7rem;
                        cursor: pointer;
                        border-radius: 50%;
                        transition: .1s;
    
                        &:hover {
                            background: rgb(50, 50, 50);
                            color: rgb(230, 230, 230);
                        }
                    }
                }
            }

            & table {
                display: block;
                width: 100%;
                margin-bottom: 1.5rem;

                & td {
                    font-size: 1rem;

                    &:first-child {
                        width: 100%;
                    }

                    &:last-child {
                        text-align: center;
                        min-width: 3rem;
                        white-space: nowrap;
                    }
                }
            }

            & .order-price {
                display: flex;
                justify-content: right;
                gap: .5rem;

                & span:last-child {
                    font-weight: bold;
                }
            }

            & .client-orders-total-sum {
                display: flex;
                gap: .4rem;
                justify-content: space-between;
                border-top: .1rem rgb(150, 150, 150) dashed;
                margin-top: 2rem;
                padding-top: 1rem;
                font-size: 1.1rem;
                font-weight: bold;
                color: rgb(30, 30, 30);

                & span:last-child {
                    font-size: 1rem;
                    font-family: 'Roboto Mono', monospace;
                }
            }
        }

        & .orders-empty {
            font-weight: bold;
        }
    }
}

.client-table table tr {
    &:first-child td:nth-child(2) {
        display: flex;
        gap: .5rem;

        & svg {
            width: 1.2rem;
        }
    }

    &:not(:first-child) {
        cursor: pointer;
    }
}

@media only screen and (max-width: 700px) {
    .client-bonus {
        padding-left: .5rem;
    }

    .client-table table {
        & td:first-child {
            max-width: 10rem;
        }

        & td:nth-child(2) {
            display: none !important;
        }
    }

    .client-info-modal-content .client-info .form .client-orders-total-sum {
        font-size: .9rem;

        & span:last-child {
            font-size: .9rem;
        }
    }
}
