.company-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, .02) 0 1px 3px 0, rgba(27, 31, 35, .15) 0 0 0 1px;
    background: #fff;
    padding: 1.2rem 1.8rem;
    border-radius: 1rem;
    justify-content: space-between;
    width: 20rem;
    margin-bottom: 1rem;

    &.animate {
        animation: table-animate .15s;
    }

    & h2 {
        padding: 0 .3rem;
        margin: .6rem 0;
        font-size: 1.2rem;
        font-weight: normal;

        & span:last-child {
            color: rgb(30, 30, 30);
            padding: 0 .2rem;
        }
    }

    & .content {
        display: flex;
        flex-direction: column;
        justify-self: center;
        gap: 1.8rem;

        & div {
            display: flex;
            flex-direction: column;
        }

        & .inputs {
            display: flex;
            gap: 1rem;
        }
    }

    & .company-buttons {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;

        & button {
            padding: .45rem 1.1rem;

            &:first-child {
                background: linear-gradient(180deg, rgb(85, 165, 255) 0%, rgb(74, 152, 255) 100%);
                padding: .45rem .9rem;
                gap: .5rem;
            }
        }
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .company-container {
        width: unset;
        border-radius: .7rem;
        padding: .4rem .5rem;

        & .content {
            gap: .8rem;

            & .upload-image img {
                width: 6.5rem;
            }

            & .inputs {
                gap: .6rem;

                & h2 {
                    margin: .2rem 0;
                }
            }
        }

        & .company-buttons {
            margin-top: .7rem;
        }
    }
}
