.company-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, .02) 0 1px 3px 0, rgba(27, 31, 35, .15) 0 0 0 1px;
    background: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    justify-content: space-between;
    width: 20rem;
    margin-bottom: 1rem;

    & h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .3rem;
        margin: .7rem 0;
        font-size: 1.2rem;
        font-weight: normal;

        & span:last-child {
            cursor: pointer;
            color: rgb(30, 30, 30);
            border-radius: 50%;
            padding: .25rem .3rem;
            transition: .05s;

            &:hover {
                background: rgb(220, 220, 220);
            }
        }
    }

    & .content {
        display: flex;
        flex-direction: column;
        justify-self: center;
        gap: 2rem;

        & .upload-image img {
            width: 10rem;
        }

        & div {
            display: flex;
            flex-direction: column;
        }

        & .inputs {
            display: flex;
            gap: 1rem;
        }
    }

    & button {
        align-self: end;
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .company-container {
        width: unset;
        border-radius: .7rem;
        padding: .4rem .5rem;

        & .content {
            gap: .8rem;

            & .upload-image img {
                width: 6.5rem;
            }

            & .inputs {
                gap: .6rem;

                & h2 {
                    margin: .2rem 0;
                }
            }
        }

        & .save {
            margin-top: .9rem;
        }
    }
}
