.create-contractor-modal-content {
    gap: 1.8rem;
    width: calc(var(--modal-content-width) + 1rem);

    & .contractor-comment {
        padding: .5rem;
    }
}

.contractor-info-modal-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 58rem;
    height: 90vh;

    & .contractor-sums {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-top: .1rem rgb(150, 150, 150) solid;
        width: fit-content;
        padding-top: 2rem;
    }

    & .contractor-debt,
    & .contractor-overpayment {
        font-weight: bold !important;
    }

    & .contractor-debt {
        color: rgb(255, 0, 0);
    }

    & .contractor-overpayment {
        color: rgb(0, 128, 0);
    }

    & .all-supplies {
        display: flex;
    }

    & .contractor-supplies {
        & .contractor-supplies-info {
            flex: 1;
        }

        & .contractor-supplies-products {
            flex: 2;
        }
    }

    & .contractor-details,
    & .contractor-supplies,
    & .contractor-supplies .contractor-supplies-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    & .contractor-details {
        flex: 1;
    }

    & .contractor-supplies {
        flex: 3;

        & .contractor-supplies-header {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & div:first-child {
                display: flex;
                gap: 1.5rem;

                & input {
                    padding: 0 .7rem;
                    border-radius: .7rem;
                }
            }

            & .arrows-block {
                display: none;
                gap: 1.5rem;

                & span {
                    font-size: 1.7rem;
                    cursor: pointer;
                    border-radius: 50%;
                    transition: .1s;

                    &:hover {
                        background: rgb(50, 50, 50);
                        color: rgb(230, 230, 230);
                    }
                }
            }
        }

        & .total-sum {
            padding-bottom: 1rem;
            font-size: 1.3rem;
            align-self: end;

            & span:last-child {
                font-weight: normal;
            }
        }
    }

    & .contractor-details,
    & .contractor-supplies {
        & .form {
            & h2 {
                font-weight: bold;
            }

            & h3 {
                font-weight: normal;
                font-size: 1.1rem;
            }
        }
    }
}

.contractor-supply-products table {
    display: block;
    margin: .5rem 0 0 0;

    & tbody {
        font-size: 1rem;
    }

    & tr td {
        padding: .5rem .4rem;
        text-align: center;
    }

    & tr td:first-child {
        text-align: left;
    }
}

.contractor-table table tr:not(:first-child) {
    cursor: pointer;
}
