.create-flavor-modal-content {
    width: calc(var(--modal-content-width) + 5.5rem);
    gap: 1.2rem;
    padding: 1rem 1.2rem;

    & .flavor-products div .view-flavor-templates,
    & .flavor-save-buttons button:first-child {
        display: flex;
        gap: .7rem;
        background: rgb(100, 107, 115);
        border: none;
        color: rgb(240, 240, 240);

        &:hover {
            background: rgb(80, 85, 95);
            box-shadow: none;
        }
    }

    & .flavor-products div .view-flavor-templates {
        padding: .2rem .9rem;
    }

    & .modal-content-name {
        margin-bottom: .5rem;
    }

    & .flavor-name {
        padding: .4rem;
        width: 13rem;
    }

    & .flavor-stock {
        width: 13.8rem;
    }

    & .form-check {
        display: flex;
        flex-direction: column;
        gap: .8rem;

        & form {
            display: flex;
            gap: .4rem;

            & label {
                display: flex;
                align-items: center;
                gap: .4rem;
            }

            &.flavor-type label {
                align-items: baseline;
            }
        }
    }

    & .flavor-products {
        & div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0 .7rem 0;

            & h2 {
                font-size: 1.3rem;
                font-weight: bold;
            }
        }

        & table {
            display: block;
            box-shadow: none;
            margin-bottom: 0;
        
            & tbody {
                display: none;
        
                & td {
                    color: #000;
                }
            }

            & td:nth-child(3), & td:nth-child(4) {
                width: 4.3rem;
                text-align: center;
            }
        
            & input {
                font-size: .85rem;
                width: 3rem;
            }
        
            & input[list=flavor-product] {
                width: 9.1rem;
            }
        
            & tr {
                background: #fff;
        
                &:hover {
                    background: #fff;
                }
        
                & .remove-flavor-product {
                    transition: .1s;
        
                    & span {
                        color: rgba(255, 0, 0, .6);
                        cursor: pointer;
        
                        &:hover {
                            color: rgba(255, 0, 0, .9);
                        }
                    }
                }
            }
        
            & td {
                border-right: none !important;
                font-size: .9rem;
                padding: .5rem .1rem;
            }
        }

        & .one-more-product {
            background: none;
            width: 100%;
            color: #000;
            font-size: 1rem;
            padding: .5rem 0;
            transition: .1s;
        
            &:hover {
                border-color: rgb(30, 30, 30);
            }
        }
    }

    & .flavor-sums {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        margin: .7rem 0;

        & .total-buying-sum {
            font-size: 1rem;

            & span:first-child {
                font-weight: bold;
                font-size: 1.1rem;
            }
        }

        & .total-sum {
            display: flex;
            align-items: center;
            gap: .6rem;
            align-self: end;
    
            & input {
                width: 4.5rem;
                padding: .3rem;
            }

            & span {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }

    & .flavor-save-buttons {
        display: flex;
        justify-content: space-between;

        & button:first-child {
            align-self: center;
            padding: .3rem 1rem;
        }
    }
}

.flavor-info-modal-content {
    padding: 1rem;
    padding-top: 0;
    width: calc(var(--modal-content-width) + 4rem);
    gap: 1.5rem;

    & .flavor-content {
        flex-direction: row;
        justify-content: space-between;

        & .flavor-info {
            flex: 2;
            gap: 1.5rem;
        }

        & img {
            width: 8rem;
            height: fit-content;
        }   
    }

    & table {
        display: block;
        width: 100%;

        & tbody {
            font-size: 1rem;
        }

        & tr td:nth-child(2) {
            text-align: center;
        }

        & td:not(:last-child) {
            white-space: nowrap;
        }

        & td:last-child {
            width: 100%;
        }
    }

    & .form {
        & h2 {
            font-weight: bold;
        }

        & h3 {
            font-weight: normal;
        }

        & .flavor-total-sums {
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;

            & h2 {
                display: flex;
                gap: .4rem;

                & span {
                    font-size: 1.1rem;

                    &:last-child {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.flavor-table table {
    & tr:not(:first-child) {
        cursor: pointer;

        & td:nth-child(3) {
            font-weight: bold;
            color: rgb(20, 20, 20);
        }
    }

    & ul {
        display: flex;
        flex-direction: column;
        font-size: .9rem;
        gap: .2rem;

        & li {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
        }
    }
}

.flavor-templates-modal-content {
    width: calc(var(--modal-content-width) + 3rem);

    & ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;

            & span.material-symbols-outlined {
                border-radius: 50%;
                cursor: pointer;

                &:first-child {
                    padding: .35rem;
                    font-size: 1.7rem;
                    color: rgba(0, 115, 0, .7);

                    &:hover {
                        background: rgb(215, 215, 215);
                        color: rgb(0, 115, 0);
                    }
                }

                &:last-child {
                    padding: .5rem;
                    font-size: 1.3rem;
                    background: rgb(230, 230, 230);
                    color: rgba(235, 0, 0, .7);

                    &:hover {
                        background: rgb(200, 200, 200);
                        color: rgb(235, 0, 0);
                    }
                }
            }

            & .template-content {
                font-size: .9rem;
                display: flex;
                flex: 1;
                flex-direction: column;

                & .content {
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .flavor-info-modal-content {
        padding: .8rem;
        padding-top: 0;
    }

    .flavor-table table tr:not(:first-child) td:nth-child(4) {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .create-flavor-modal-content {
        padding: .5rem .3rem;
    }

    .flavor-info-modal-content {
        padding: .5rem .4rem;

        & h1 {
            margin-top: .4rem;
        }
    }

    .flavor-table table td:nth-child(4) {
        display: none;
    }
}
