:root {
    --pie-chart-size: 17rem;
}

.general-statistics-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & li {
        display: flex;
        align-items: center;

        & .stat-title {
            width: 12rem;
            font-size: 1.2rem;
        }

        & .stat-value {
            font-size: 1.1rem;
            font-family: monospace, 'SF Mono';
        }

        &.sub-value {
            margin-top: .6rem;
            padding: 0 1rem;
            justify-content: space-between;

            & .stat-title {
                font-size: .9rem;
            }

            & .stat-value {
                font-size: 1rem;
            }
        }
    }
}

.statistics-date-filter .year-filter {
    margin-left: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;

    & div {
        font-size: 1rem;
    }
}

.pie-charts {
    margin: 3rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;

    & canvas {
        height: var(--pie-chart-size) !important;
        width: var(--pie-chart-size) !important;
    }
}

.bar-charts {
    display: none;
    margin: 1.2rem 0 1rem 0;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;
    flex-direction: column;

    & div {
        padding: .5rem;
        border: .2rem solid rgba(79, 118, 181, .75);
        border-radius: 1.5rem;
        box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
        transition: .1s;
        background: var(--white);

        &:hover {
            border-color: rgb(79, 118, 181);
            box-shadow: rgba(0, 0, 0, .16) 0 10px 36px 0, rgba(0, 0, 0, .06) 0 0 0 1px;
        }
    }
}

@media screen and (min-width: 1025px) {
    .bar-charts canvas {
        width: 66rem !important;
        height: 33rem !important;
    }
}

@media (hover: none) {
    .bar-charts {
        align-items: unset;
    }
}

@media only screen and (max-width: 1400px) {
    :root {
        --pie-chart-size: 16rem;
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    :root {
        --pie-chart-size: 20rem;
    }

    .general-statistics-info li {
        & .stat-title {
            width: 11rem;
            font-size: 1.1rem;
        }

        & .stat-value {
            font-size: 1rem;
        }
    }

    .pie-charts {
        gap: 1.5rem;
    }

    .bar-charts {
        gap: 1.5rem;

        & div {
            padding: .2rem;
            border-width: .1rem;
        }
    }
}
