:root {
    --pie-chart-size: 19.5rem;
}

.general-statistics-info {
    display: flex;
    justify-content: space-between;
    background: rgba(79, 118, 181, .12);
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.1rem;
    box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .24) 0 1px 2px;

    & li {
        display: flex;
        align-items: center;
        gap: 1rem;

        & .stat-title {
            font-size: 1.2rem;
            color: rgb(70, 70, 70);
            font-weight: bold;

            &.gain {
                font-size: 1.3rem;
                color: rgb(0, 0, 0);
            }
        }

        & .stat-value {
            font-size: 1.1rem;
            font-family: monospace, 'SF Mono';

            &.gain {
                font-size: 1.2rem;
            }
        }

        &.sub-value {
            display: none;
        }
    }
}

.statistics-date-filter .year-filter {
    margin-left: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;

    & div {
        font-size: 1rem;
    }
}

.pie-charts {
    justify-content: space-between;
    margin: 3rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;

    & canvas {
        height: var(--pie-chart-size) !important;
        width: var(--pie-chart-size) !important;
    }
}

.bar-charts {
    display: none;
    margin: 2.5rem 0 1.2rem 0;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    flex-direction: column;

    & div {
        padding: .5rem;
        border: .2rem solid rgba(79, 118, 181, .75);
        border-radius: 1.5rem;
        box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
        transition: .1s;
        background: var(--white);

        &:hover {
            border-color: rgb(79, 118, 181);
            box-shadow: rgba(0, 0, 0, .16) 0 10px 36px 0, rgba(0, 0, 0, .06) 0 0 0 1px;
        }
    }
}

@media screen and (min-width: 1025px) {
    .bar-charts canvas {
        width: 66rem !important;
        height: 33rem !important;
    }
}

@media (hover: none) {
    .bar-charts {
        align-items: unset;
    }
}

@media only screen and (max-width: 1500px) {
    :root {
        --pie-chart-size: 24rem;
    }

    .general-statistics-info {
        padding: 1.5rem 1rem;
        border-radius: .9rem;
    
        & li {
            gap: .5rem;
    
            & .stat-title {
                font-size: 1rem;
    
                &.gain {
                    font-size: 1.1rem;
                }
            }
    
            & .stat-value {
                font-size: 1rem;
    
                &.gain {
                    font-size: 1.1rem;
                }

                & span:last-child {
                    display: none;
                }
            }
        }
    }

    .pie-charts {
        justify-content: center;
        gap: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    :root {
        --pie-chart-size: 22rem;
    }

    .general-statistics-info {
        flex-direction: column;
        padding: 1.5rem;
        gap: 1.5rem;

        & li {            
            & .stat-title {
                width: 12rem;
                font-size: 1.1rem;
            }
    
            & .stat-value {
                font-size: 1rem;

                & span:last-child {
                    display: inline;
                }
            }
        }
    }

    .pie-charts {
        gap: 1.5rem;
    }

    .bar-charts {
        gap: 1.5rem;

        & div {
            padding: .2rem;
            border-width: .1rem;
        }
    }
}
