.create-inventory-modal-content {
    gap: 1.5rem;
    width: calc(var(--modal-content-width) + 30rem);
    padding: 1rem;

    & .inventory-header {
        margin: .5rem 0;
        justify-content: unset;
        gap: 3rem;
        
        & select {
            padding: .55rem;
        }
    }

    & input {
        width: 9rem;
    }

    & select {
        width: 11rem;
    }

    & table {
        overflow-y: auto;
        box-shadow: none;

        & tbody {
            font-size: 1rem;
            
            & td {
                color: #000;
                font-weight: bold;
            }
        }

        & input {
            width: 4rem;
            margin: auto;
        }

        & tr {
            background: #fff;
            
            &:hover {
                background: #fff;
            }

            &:not(:first-child) {
                & td {
                    &:nth-child(2),
                    &:nth-child(4) {
                        text-align: center;
                    }
                }
            }
        }

        & td {
            border-right: none !important;
            padding: .5rem .2rem;
            text-align: center;

            &:nth-child(5) {
                width: 7rem;
            }

            &:first-child {
                text-align: left;
            }
        }
    }

    & .total-sum {
        display: none;
        justify-content: end;
        gap: .4rem;

        & span:first-child {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .inventory-header button {
        align-self: start;
    }
    
    .create-inventory-modal-content {
        padding: .4rem .2rem;
        gap: .5rem;

        & .inventory-header {
            margin: 0;
        }

        & .inventory-stock {
            width: unset;
        }

        & table {
            width: 100%;
            overflow-x: auto;
        }
    }
}
