.create-inventory-modal-content {
    gap: 1.5rem;
    width: calc(var(--modal-content-width) + 19.5rem);

    & .inventory-header {
        margin: .5rem 0;
        justify-content: unset;
        gap: 3rem;

        & select {
            padding: .55rem;
        }
    }

    & input {
        width: 9rem;
    }

    & select {
        width: 11rem;
    }

    & table {
        overflow-y: auto;
        box-shadow: none;

        & tbody {
            font-size: 1rem;
            
            & td {
                color: #000;
                font-weight: bold;
            }
        }

        & input {
            width: 4rem;
            margin: auto;
        }

        & tr {
            background: #fff;
            
            &:hover {
                background: #fff;
            }

            &:not(:first-child) {
                & td {
                    &:nth-child(2),
                    &:nth-child(4) {
                        text-align: center;
                    }
                }
            }
        }

        & td {
            border-right: none !important;
            padding: .5rem .2rem;
            text-align: center;

            &:nth-child(5) {
                width: 7rem;
            }

            &:first-child {
                text-align: left;
            }
        }
    }

    & .total-sum {
        display: none;
        justify-content: end;
        gap: .4rem;

        & span:first-child {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

.inventory-info-modal-content {
    padding: 1rem;
    padding-top: 0;
    gap: 1.5rem;
    width: calc(var(--modal-content-width) + 5rem);

    & .form {
        & h2 {
            font-weight: bold;
        }

        & h3 {
            font-weight: normal;
            font-size: 1.1rem;
        }
    }

    & .inventory-products {
        & h2 {
            font-size: 1.3rem;
        }

        & table {
            display: block;
            margin-top: 1rem;
            margin-bottom: 0;
    
            & td:last-child {
                width: 6rem;
                text-align: center;
            }
        }
    }

    & .total {
        display: flex;
        gap: .5rem;
        align-self: end;
        align-items: center;

        & span:first-child {
            text-decoration: underline;
        }

        & span:last-child {
            font-family: 'Roboto Mono', monospace;

            &.positive {
                color: rgba(0, 128, 0, .9);
            }

            &.negative {
                color: rgba(220, 0, 0, .75);
            }
        }
    }
}

.inventory-table table tr:not(:first-child) {
    cursor: pointer;

    & td:nth-child(3) {
        font-family: 'Roboto Mono', monospace;

        &.negative-left {
            color: rgba(220, 0, 0, .8);
        }
    }
}

@media only screen and (max-width: 700px) {
    .create-inventory-modal-content {
        gap: 0;
        padding: 0;

        & .inventory-header {
            margin: 0;

            & .form {
                gap: 0;
            }
        }
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .inventory-header button {
        align-self: start;
    }
    
    .create-inventory-modal-content {
        padding: .1rem .1rem;
        gap: .1rem;

        & .inventory-header {
            margin: 0;
        }

        & .inventory-stock {
            width: unset;
        }

        & table {
            width: 100%;
            overflow-x: auto;
        }
    }
}
