.search-leftover {
    display: none;
    width: var(--search-input-width);
    margin-bottom: 1.1rem;
}

.leftover-table {
    & table {
        & tr:not(:first-child) {
            & td:nth-child(3),
            & td:nth-child(4),
            & td:last-child {
                text-align: center;
            }

            & td:nth-child(4) {
                font-family: 'Roboto Mono', monospace;
                font-size: .95rem;
            }

            & td:nth-child(5), & td:last-child {
                word-spacing: .25rem;

                & span {
                    display: block;
                    font-size: .9rem;
                    color: rgb(240, 240, 240);
                    padding: .25rem .7rem;
                    border-radius: .5rem;
                    box-shadow: rgba(0, 0, 0, .12) 0 1px 2px, rgba(0, 0, 0, .12) 0 1px 2px;
                }
            }

            & td:nth-child(5) span {
                background: rgb(230, 80, 25);
            }

            & td:last-child span {
                background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
                width: 9rem;
                margin: 0 auto;
            }
        }

        & td:nth-child(5), & td:last-child {
            text-align: center;
        }
    }
    
    & div:not(table div) {
        display: none;
        gap: .4rem;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1.2rem;
        margin-bottom: 1rem;
        align-items: center;

        & span:last-child {
            font-family: 'Roboto Mono', monospace;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .leftover-table table tr:not(:first-child) td:nth-child(2) {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .leftover-table table {
        & tbody tr td:first-child span:first-child {
            margin-right: 0;
        }

        & td:first-child {
            max-width: 6.3rem;
        }

        & td:nth-child(2) {
            font-size: .8rem !important;
        }

        & td:nth-child(4) {
            text-align: center;
        }

        & td:last-child {
            display: none;
        }
    }

    .leftover-table {
        & div:not(table div) {
            font-size: 1rem;
            padding-left: .5rem;

            & span:last-child {
                font-size: .9rem;
            }
        }
    }
}
