.search-leftover {
    display: none;
    width: var(--search-input-width);
    margin-bottom: 1.1rem;
}

.leftover-category-filters {
    width: 47rem;
}

.leftover-table {
    & table {
        & tr:not(:first-child) {
            cursor: pointer;

            & td:nth-child(3),
            & td:nth-child(4),
            & td:last-child {
                text-align: center;
            }

            & td:nth-child(4) span {
                &:first-child {
                    vertical-align: middle;
                    width: 2rem;
                    text-align: left;
                }

                &:last-child {
                    display: inline-block;
                    width: 3.5rem;
                    font-family: 'Roboto Mono', monospace;
                    font-size: .95rem;
                }
            }

            & td:nth-child(5), & td:last-child {
                word-spacing: .25rem;

                & span {
                    display: block;
                    font-size: .9rem;
                    color: rgb(240, 240, 240);
                    padding: .25rem .7rem;
                    border-radius: .5rem;
                    box-shadow: rgba(0, 0, 0, .12) 0 1px 2px, rgba(0, 0, 0, .12) 0 1px 2px;
                }
            }

            & td:nth-child(5) span {
                background: rgb(230, 80, 25);
            }

            & td:last-child span {
                background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
                width: 4rem;
                margin: 0 auto;
            }
        }

        & td:nth-child(5), & td:last-child {
            text-align: center;
        }
    }
    
    & div:not(table div) {
        display: none;
        gap: .4rem;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1.2rem;
        margin-bottom: 1rem;
        align-items: center;

        & span:last-child {
            font-family: 'Roboto Mono', monospace;
        }
    }
}

.leftover-info-modal {
    & .leftover-info-modal-content {
        width: calc(var(--modal-content-width) + 18rem);

        & h1 {
            margin-top: 0;
            text-align: center;
        }

        & .order-flavor-info {
            display: flex;
            justify-content: space-between;

            & .flavor-info, & .order-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.2rem;
            }

            & h2 {
                font-size: 1.1rem;
                display: flex;
                align-items: center;
                gap: .5rem;

                & span.material-symbols-outlined {
                    &.flavor {
                        color: rgb(230, 80, 25);
                    }

                    &.order {
                        color: #367AF6;
                    }
                }
            }

            & table {
                display: block;
                margin: 0;

                &.flavor-info-table td {
                    width: 6rem;
                }

                &.order-info-table td {
                    width: 4.5rem;
                }

                & td {
                    padding: initial 0;

                    &:nth-child(2), &:last-child {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .leftover-table table {
        & td:nth-child(3) {
            width: 7rem;
        }
        
        & td:nth-child(4) {
            text-align: center;
        }

        & td:last-child {
            max-width: 5rem;
        }

        & tr:first-child {
            font-size: 1rem;

            & td:last-child {
                font-size: .8rem;
            }
        }

        & tr:not(:first-child) td:nth-child(2) {
            font-size: .9rem;
        }
    }
}

@media only screen and (max-width: 900px) {
    .leftover-category-filters {
        width: unset;
    }

    .leftover-table {
        & table {
            & tr:not(:first-child) {
                & td:nth-child(5), & td:last-child {
                    word-spacing: .2rem;
                    
                    & span {
                        margin: 0 auto;
                        font-size: .8rem;
                        padding: .2rem .6rem;
                        width: 3rem;
                    }
                }
            }

            & td:nth-child(5) {
                width: 5rem;
            }
        }
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .leftover-table table {
        & tbody tr td:first-child span:first-child {
            margin-right: 0;
        }

        & td:first-child {
            max-width: 6.3rem;
        }

        & td:nth-child(2) {
            font-size: .8rem !important;
        }

        & td:nth-child(5), & td:last-child {
            display: none;
        }
    }

    .leftover-table {
        & div:not(table div) {
            font-size: 1rem;
            padding-left: .5rem;

            & span:last-child {
                font-size: .9rem;
            }
        }
    }
}
