.search-leftover {
    display: none;
    width: var(--search-input-width);
    margin-bottom: 1.1rem;
}

.leftover-table {
    & table {
        & tr:not(:first-child) {
            & td:nth-child(3),
            & td:nth-child(4) {
                text-align: center;
            }
        }
    }
    
    & div:not(table div) {
        display: none;
        gap: .4rem;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1.7rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 1500px) {
    .leftover-table table {
        display: block;
        width: 100%;

        & tr:not(:first-child) td:nth-child(2) {
            font-size: .9rem;
        }

        & td:not(:last-child) {
            white-space: nowrap;
        }

        & td:last-child {
            width: 100%;
        }
    }
}
