.order-info-modal-content {
    max-height: calc(100vh - 7rem);
    overflow-y: auto;
    width: calc(var(--modal-content-width) + 12rem);
    gap: 1.5rem;
    padding: 1.5rem;

    & .order-main-info {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;

        & .order-title {
            display: flex;
            flex-direction: column;
            gap: .8rem;
    
            & .order-number-date {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                
                & .order-number {
                    font-size: 1.4rem;
                    text-decoration: underline;
                }
    
                & .order-date {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
    
                    & span {
                        font-weight: bold;
                    }

                    & input {
                        padding: .5rem;
                    }
                }
            }
    
            & .order-time {
                display: flex;
                align-self: end;
                flex-direction: column;
                gap: .5rem;
    
                & div {
                    display: flex;
                    align-items: center;
                    gap: .3rem;
    
                    & span {
                        width: 2rem;
                    }

                    & input {
                        padding: .2rem .3rem;
                    }
                }
            }
        }

        & .order-info-image {
            display: flex;
            align-items: center;
        }
    }

    & .order-status {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .5rem 0;

        & .statuses {
            user-select: none;
            display: flex;
            gap: .5rem;

            & .status {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                font-family: monospace;
                text-align: center;
                gap: .3rem;
                padding: .4rem;
                border-radius: .3rem;

                &:hover {
                    background: rgb(230, 230, 230);
                }

                &.active-order-status {
                    background: rgb(230, 230, 230);
                    font-weight: bold;
                }

                &:first-child span:first-child {
                    color: rgb(0, 119, 204);
                }

                &:nth-child(2) span:first-child {
                    color: rgb(48, 133, 108);
                }

                &:last-child span:first-child {
                    color: rgb(255, 100, 30);
                }

                & span:last-child {
                    font-size: .75rem;
                }
            }
        }

        & .surcharge-block {
            user-select: none;

            & .surcharge {
                padding: .75rem .7rem;
                font-size: 1rem;
                background: rgb(68, 153, 128);
                color: rgb(245, 245, 245);
            }

            & .surcharge-buttons {
                display: flex;
                box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 1px 3px 1px;
                border-bottom-left-radius: .2rem;
                border-bottom-right-radius: .2rem;
                border-top: none;

                & .surcharge-button {
                    padding: .2rem 0;
                    border-radius: 0;
                    flex: 1;
                    justify-content: center;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    font-size: .9rem;
                    transition: .1s;

                    &:first-child {
                        border-right: .1rem rgb(150, 150, 150) solid;
                        border-bottom-left-radius: .2rem;
                    }

                    &:last-child {
                        border-bottom-right-radius: .2rem;
                        gap: .2rem;
                    }

                    &:hover {
                        background: rgba(204, 85, 0, .5);
                        font-weight: bold;   
                    }

                    & span:first-child {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    & .customer, & .recipient {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-radius: .5rem;
        background: rgba(var(--table-hover-color), .15);
        box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .24) 0 1px 2px;

        & .name {
            display: flex;
            flex: 2;
            font-size: .9rem;
            flex-direction: column;
            justify-content: space-between;
            gap: .6rem;
            align-self: center;

            & span:first-child {
                user-select: none;
                color: rgb(70, 70, 70);
            }

            & span:last-child {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }

        & .phones {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-self: center;
            gap: 1rem;

            & .phone {
                font-size: .95rem;
                display: flex;
                gap: .7rem;
                align-items: center;

                & span:first-child {
                    font-size: 1.3rem;
                }
            }
        }
    }

    & .address, & .comment {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        & textarea {
            width: 100%;
        }
    }

    .order-products {
        margin-top: 1rem;

        & h2 {
            user-select: none;
            font-weight: bold;
        }

        & table {
            display: block;
            box-shadow: none;
            margin-bottom: 0;
    
            & tbody td {
                color: rgb(0, 0, 0);
            }
    
            & td:nth-child(4) {
                width: 4rem;
                text-align: center;
            }
    
            & input {
                font-size: .85rem;
                width: 4rem;
            }
    
            & select {
                width: 14rem;
                padding: .45rem;
            }
    
            & tr {
                background: var(--white);
    
                &:hover {
                    background: var(--white);
                }
    
                & .remove-order-product {
                    transition: .1s;
    
                    & span {
                        color: rgba(255, 0, 0, .6);
                        cursor: pointer;
    
                        &:hover {
                            color: rgba(255, 0, 0, .9);
                        }
                    }
                }
            }
    
            & td {
                border-right: none !important;
                font-size: .9rem;
                padding: .5rem;
            }
        }

        & .one-more-product {
            display: none;
            background: none;
            border: .1rem rgba(110, 110, 110, .8) dashed;
            width: 100%;
            color: rgb(0, 0, 0);
            font-size: 1rem;
            padding: .5rem 0;
            transition: .1s;
        
            &:hover {
                border-color: rgb(30, 30, 30);
            }
        }
    }
}

[class$="order-table"] table td {
    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        text-align: center;
    }

    &:first-child {
        background: rgba(0, 0, 0, .75);
        color: rgb(215, 215, 215);
        font-size: .9rem;
        font-weight: bold;
        text-align: center;
    }
}

[class$="order-table"] table tr:not(:first-child) {
    cursor: pointer;

    & td:nth-child(3) {
        max-width: 16rem;
    }

    & td:nth-child(6) {
        max-width: 12rem;
    }

    & td:nth-child(5) span, & td:nth-child(6) span {
        font-size: .9rem;
        color: rgb(250, 250, 250);
        padding: .2rem .7rem;
        border-radius: .5rem;
        user-select: none;
        box-shadow: rgba(0, 0, 0, .12) 0 1px 2px, rgba(0, 0, 0, .12) 0 1px 2px;
    }

    & td:nth-child(6) span {
        display: block;

        &:not(:last-child) {
            margin-bottom: .3rem;
        }
    }

    & td:last-child span {
        margin-right: 0;
    }
}
