.pending-type {
    display: flex;
    gap: .8rem;

    & div {
        display: flex;
        align-items: center;
        gap: .4rem;
        padding: .2rem 0;
        border-radius: .8rem;
        cursor: pointer;
        width: 7.5rem;
        justify-content: center;
        transition: .05s;

        & span {
            width: fit-content !important;

            &:first-child {
                font-size: 1.4rem;
            }

            &:last-child {
                font-size: .9rem;
                letter-spacing: .02rem;
            }
        }

        &:first-child {
            --first-type: rgb(0, 119, 204);
            border: .15rem solid var(--first-type);

            &:hover, &.active {
                color: rgb(235, 235, 235);
                background: var(--first-type);
            }
        }

        &:last-child {
            --second-type: rgb(48, 133, 108);
            border: .15rem solid var(--second-type);

            &:hover, &.active {
                color: rgb(235, 235, 235);
                background: var(--second-type);
            }
        }
    }
}

.pending-order-table tr:first-child td:first-child {
    cursor: pointer;

    &.animate {
        transition: .05s;
    }

    &:hover {
        outline: .2rem rgb(var(--table-hover-color)) solid;
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 1500px) {
    .pending-type {
        gap: .6rem;

        & div {
            gap: .3rem;
            width: 7rem;
            border-radius: .7rem;
        }
    }
}

@media only screen and (max-width: 900px) {
    .pending-type {
        gap: .5rem;

        & div {
            width: 6.6rem;

            & span:first-child {
                font-size: 1.2rem;
            }

            & span:last-child {
                font-size: .8rem;
            }
        }
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .pending-order-table td:first-child {
        width: 2.6rem;
    }
}
