.animate-cart-product {
    box-shadow: rgba(6, 24, 44, .1) 0 0 0 2px, rgba(6, 24, 44, .3) 0 4px 6px -1px, rgba(255, 255, 255, .1) 0 1px 0 inset;
    border-radius: .5rem;
    padding: 0 .5rem;
    position: fixed;
    z-index: 2;
    background: rgb(255, 255, 255, .7);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sale-header {
    position: sticky;
    top: 0;
    margin: 0;
    margin-bottom: .6rem;
    padding: .5rem 1.7rem;
    background: rgba(225, 231, 240);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-shadow: rgba(50, 50, 93, .35) 0 2px 5px -1px, rgba(0, 0, 0, .35) 0 1px 3px -1px;
    z-index: 1;

    & span, & .cart-mobile {
        display: none;
    }

    & div {
        gap: .7rem;
        width: fit-content;
        align-items: center;
        display: flex;
        color: rgb(70, 70, 70);

        & input {
            margin: 0;
            box-shadow: none;
        }

        & label {
            cursor: auto;
            color: unset;

            &:hover {
                background: unset;
                box-shadow: none;
            }
        }
    }

    & input[type=search] {
        box-shadow: rgba(50, 50, 93, .25) 0 2px 5px -1px, rgba(0, 0, 0, .3) 0 1px 3px -1px;
        font-size: 1.25rem;
        width: 40%;
        padding: 1rem;
        padding-left: 2.9rem;
        background-size: 1.7rem;
        border-radius: 1.5rem;

        &::-webkit-search-cancel-button {
            transform: scale(1.7);
        }
    }
}

.sale-content {
    gap: .7rem;
    display: flex;
    height: 100%;

    & .sale-products {
        height: fit-content;
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        row-gap: 1rem;
        margin: 0 auto;
        margin-bottom: .5rem;

        & .table-no-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .8rem;
            padding-top: 1.5rem;
            margin: 0 auto;

            & img {
                filter: drop-shadow(1px 1px 1px rgb(180, 180, 180));
            }
            
            & span {
                color: rgb(68, 68, 68);
                font-weight: bold;
                font-size: 1.15rem;
                letter-spacing: .03rem;
                word-spacing: .3rem;
            }
        }

        & .sale-product, & .sale-flavor {
            height: fit-content;
            display: flex;
            flex: 1;
            min-width: 9rem;
            max-width: 13rem;
            flex-direction: column;
            gap: 1.5rem;
            box-shadow: rgba(6, 24, 44, .1) 0 0 0 2px, rgba(6, 24, 44, .3) 0 4px 6px -1px, rgba(255, 255, 255, .1) 0 1px 0 inset;
            padding: .5rem;
            border-radius: .7rem;
            cursor: pointer;

            & img {
                width: 5rem;
                height: 8rem;
                margin: auto;
                filter: drop-shadow(1px 1px 2px rgb(130, 130, 130));
            }

            & div {
                height: 5rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            &:hover {
                box-shadow: rgba(6, 24, 44, .4) 0 0 0 2px, rgba(6, 24, 44, .65) 0 4px 6px -1px, rgba(255, 255, 255, .08) 0 1px 0 inset;
            }

            & .sale-product-amount-price, & .sale-flavor-price {
                justify-content: space-between;
                align-items: end;
                flex-direction: row;
                gap: 1.5rem;

                & span:first-child, & span:last-child {
                    font-size: .9rem;
                }

                & span:first-child {
                    color: rgb(60, 60, 60);
                }

                & span:last-child {
                    color: rgba(0, 100, 190, .9);
                    font-weight: bold;
                }
            }

            & .sale-flavor-name {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & span:first-child {
                    font-size: 1.4rem;
                    color: rgb(214, 90, 10);
                }
            }

            & .sale-flavor-price {
                justify-content: end;

                & span:first-child {
                    font-size: 1rem;
                }
            }

            & .add-product-icon {
                display: none;
            }
        }

        & .sale-flavor {
            outline: .1rem solid rgb(var(--table-hover-color));
            box-shadow: none;

            &:hover {
                box-shadow: rgba(var(--table-hover-color), .6) 0 0 0 2.5px;
            }

            &.selected {
                filter: grayscale();
                opacity: .5;
            }
        }
    }

    & .sale-panel-wrapper {
        position: sticky;
        top: 5.3rem;
        
        & .sale-panel {
            max-height: 90vh;
            overflow-y: auto;
            background: #fff;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, .16) 0 1px 4px, rgba(51, 51, 51, .8) 0 0 0 2.2px;
            margin-bottom: .5rem;
            min-width: 31rem;
            width: 31rem;

            & .sale-cash-register {
                flex: 1;
                padding: .3rem;
                padding-bottom: 0;
        
                & .cash-register {
                    display: flex;
                    gap: 1rem;
        
                    & button {
                        padding: .35rem 0;
                        border-width: .15rem;
                        border-radius: .45rem;
                        transition: .1s;
                        display: flex;
                        gap: .2rem;
                        justify-content: center;
                        
                        &:hover {
                            box-shadow: none;
                        }
                    }
        
                    & button:first-child {
                        background: rgba(255, 255, 255, .9);
                        color: rgb(30, 30, 30);
                        flex: 4;
                        border: .15rem rgba(0, 119, 204, .6) solid;
    
                        &:hover {
                            color: rgb(250, 250, 250);
                            background: rgba(0, 119, 204, .9);
                        }
                    }
        
                    & button:last-child {
                        background: rgba(255, 255, 255, .9);
                        color: rgb(30, 30, 30);
                        flex: 3;
                        border: .15rem rgba(239, 1, 7, .6) solid;
        
                        &:hover {
                            color: rgb(250, 250, 250);
                            background: rgba(239, 1, 7, .8);
                        }
                    }
                }
                
                & .cash-register-products {
                    margin-top: .5rem;
    
                    & .empty-cart {
                        color: rgb(70, 70, 70);
                        margin: auto;
                        margin-top: 25%;
                        display: flex;
                        flex-direction: column;
                        gap: .7rem;
        
                        & span:first-child {
                            font-size: 4rem;
                            align-self: center;
                        }
        
                        & span:last-child {
                            font-size: 1.5rem;
                            font-weight: bold;
                        }
                    }
    
                    & .shifts {
                        display: flex;
                        margin: 0;
                        gap: .35rem;
                        row-gap: .3rem;
                        flex-wrap: wrap;
                        align-items: center;
                        
                        & .shift {
                            padding: .2rem;
                            padding-left: .15rem;
                            display: flex;
                            justify-content: space-between;
                            border: .1rem rgb(170, 170, 170) solid;
                            border-radius: .4rem;
                            font-family: 'Roboto Mono', monospace;
                            background: rgb(250, 250, 250);
                            color: rgb(20, 20, 20);
                            gap: .5rem;
    
                            &:hover {
                                box-shadow: none;
                            }
    
                            & span:first-child {
                                margin: auto;
                            }
            
                            & span:last-child {
                                font-size: 1.3rem;
                                align-self: end;
                                color: rgb(200, 200, 200);
                                
                                &:hover {
                                    color: rgb(255, 69, 69);
                                }
                            }
                        }
        
                        & .add-shift {
                            display: none;
                            align-items: center;
                            cursor: pointer;
                            background: rgba(42, 82, 190, .8);
                            color: rgb(240, 240, 240);
                            border-radius: 30%;
                            font-size: 1.3rem;
                            padding: .1rem;
                            
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
        
                    & .products {
                        display: none;
                        
                        & .products-header {
                            margin: .6rem 0;
        
                            & div:first-of-type {
                                display: flex;
                                gap: .5rem;
        
                                & .shopping-cart-total {
                                    font-size: 1.35rem;
                                    font-weight: bold;
                                    color: rgb(50, 50, 50);
                                }
                            }

                            & span {
                                font-size: 1.6rem;
        
                                &.remove-cart {
                                    cursor: pointer;
                                    background: rgba(239, 1, 7, .65);
                                    color: rgb(245, 245, 245);
                                    font-size: 1.3rem;
                                    padding: .2rem;
                                    border-radius: 35%;

                                    &:hover {
                                        background: rgb(239, 1, 7);
                                    }
                                }
                            }
                        }
    
                        & .sale-products {
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                            max-height: 48vh;
                            overflow-y: auto;
                            flex-wrap: nowrap;
                            padding: .2rem;
    
                            & .sale-product-content {
                                display: flex;
                                gap: .7rem;
                                align-items: center;
    
                                & .sale-product, & .sale-flavor {
                                    flex: 1;
                                    max-width: unset;
                                    cursor: default;
                                    align-items: center;
                                    display: flex;
                                    flex-direction: row;
                                    background: rgb(240, 240, 240);
                                    padding: .3rem .6rem;
                                    box-shadow: rgba(0, 0, 0, .02) 0 1px 3px 0, rgba(27, 31, 35, .15) 0 0 0 1px;
                                    border-radius: .5rem;
            
                                    &:hover {
                                        box-shadow: rgba(0, 0, 0, .3) 0 1px 3px 0, rgba(27, 31, 35, .25) 0 0 0 1px;
                                    }
    
                                    & div {
                                        height: auto;
                                    }
            
                                    & .sale-product-header, & .sale-flavor-header {
                                        height: fit-content;
                                        margin: 0;
                                        display: flex;
                                        gap: .3rem;
                                        align-items: start;
                                        flex: 2;
                                        flex-direction: column;
            
                                        & .sale-product-name, & .sale-flavor-name {
                                            width: 9rem;
                                            height: fit-content;
                                            font-weight: bold;
                                        }
    
                                        & .sale-flavor-name {
                                            justify-content: start;
                                            gap: .5rem;
    
                                            & span:first-child {
                                                color: rgb(204, 85, 0);
                                            }
                                        }
            
                                        & .sale-product-cost, & .sale-flavor-cost {
                                            height: fit-content;
                                            display: block;
                                        }
    
                                        & .sale-product-cost {
                                            width: unset;
    
                                            & span:nth-child(2) {
                                                display: inline-block;
                                                min-width: 1.7rem;
                                                height: 1rem;
                                            }
                                        }
                                    }
            
                                    & .sale-product-buttons {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        gap: .5rem;

                                        & button {
                                            border: 0;
                                            border-radius: .5rem;
                                            background: rgba(42, 82, 190, .8);
                                            font-size: 1.2rem;
                                            padding: .2rem 0;
                                            width: 1.9rem;
                                            
                                            &:hover {
                                                box-shadow: none;
                                                background: rgb(42, 82, 190);
                                            }
                                        }
    
                                        & input {
                                            text-align: center;
                                            padding: .2rem .3rem;
                                            height: 2rem;
                                            width: 4rem;
                                            box-shadow: none;
                                            border-radius: .5rem;
                                        }
                                    }
                                }
                                
                                & .sale-flavor {
                                    outline: .1rem solid rgba(var(--table-hover-color), .55);
                                }
    
                                & .material-symbols-outlined {
                                    cursor: pointer;
    
                                    &:first-child {
                                        vertical-align: bottom;
                                        font-size: 1.4rem;
                                        margin-right: .5rem;
                                        color: rgba(65, 105, 225);
    
                                        &.changed-price {
                                            color: rgba(215, 0, 64, .8);
    
                                            &:hover {
                                                color: rgb(215, 0, 64);
                                            }
                                        }
    
                                        &:hover {
                                            color: rgba(65, 105, 225, .8);
                                        }
                                    }
    
                                    &:last-child {
                                        color: rgba(255, 0, 0, .6);
        
                                        &:hover {
                                            color: rgba(255, 0, 0, .9);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            & .sale-pay-buttons {
                text-align: center;
    
                & .to-pay {
                    align-items: center;
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
    
                    & .to-pay-message {
                        font-size: 1.3rem;
                        font-weight: bold;
                    }
    
                    & div {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
    
                        & .enter-value {
                            font-family: unset;
                            font-weight: bold;
                            font-size: 1.15rem;
                            color: rgb(50, 50, 50);
                            letter-spacing: .04rem;
                        }
                    }
                }
    
                & .checkout {
                    padding: 1rem 0;
                    border-top: .1rem rgb(120, 120, 120) solid;
                    border-bottom: .1rem rgb(120, 120, 120) solid;
                    cursor: pointer;
                    font-size: 1.1rem;
                    background: rgb(225, 225, 225);
    
                    &:hover {
                        background: rgb(215, 215, 215);
                    }
                }
                
                & .checkout-clients {
                    padding: .8rem .5rem;
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    align-items: center;
    
                    & .add-client, & .clear-client {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5rem;
                        color: rgb(240, 240, 240);
                        padding: .25rem 0;
                        border-radius: .3rem;
                        width: 7.3rem;
    
                        & .material-symbols-outlined {
                            font-size: 1.25rem;
                        }
                    }
    
                    & .add-client {
                        background: rgba(42, 82, 190, .75);
    
                        &:hover {
                            background: rgb(42, 82, 190);
                        }
                    }
    
                    & .clear-client {
                        background: rgba(220, 90, 90, .9);
    
                        &:hover {
                            background: rgba(190, 30, 30, .85);
                        }
                    }
                }
    
                & .sale-payment {
                    padding: 1.2rem 0;
                    cursor: pointer;
                    font-size: 1.7rem;
                    background: rgb(68, 153, 128);
                    color: rgb(245, 245, 245);
    
                    &:hover {
                        background: rgb(58, 143, 118);
                    }
                }
            }
        }   
    }
}

.create-sale-modal-content {
    padding: .7rem;
    gap: 1.5rem;

    & .sale-checkout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.4rem;
        font-size: 1.1rem;

        &.free-terminal {
            opacity: .3;
            pointer-events: none;
            filter: grayscale();
        }

        & div span:first-child:not(& div span span) {
            font-weight: bold;
        }

        & div {
            display: flex;
            justify-content: space-between;
            gap: .8rem;
            align-items: center;
        }

        & .sale-pay-sum {
            align-items: center;

            & input {
                text-align: right;
                width: 5rem;
                padding: .4rem .2rem;
            }
        }

        & .sale-change {
            display: none;
            font-size: 1rem;
            background: rgb(255, 251, 230);
            border: .1rem rgb(255, 200, 130) solid;
            border-radius: .5rem;
            padding: .6rem;

            & span {
                font-weight: normal !important;
            }
        }
    }

    & .payment {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & form {
            display: flex;
            flex-direction: column;
            gap: .5rem;
    
            & label {
                display: flex;
                align-items: baseline;
                gap: .5rem;
                width: fit-content;
            }
        }

        & button {
            display: flex;
            justify-content: center;
            gap: 1rem;
            font-size: 1.3rem;
            background: rgb(68, 153, 128);
            color: rgb(245, 245, 245);
            border-color: rgb(150, 150, 150);
            align-self: auto;
    
            &:hover {
                box-shadow: none;
                background: rgb(58, 143, 118);
            }
        }
    }
}

.create-sale-order-modal-content,
.create-internet-order-modal-content,
.create-reminder-modal-content {
    width: calc(var(--modal-content-width) + 12rem);
    padding: 1rem .8rem;

    & .sale-order-type {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        & span {
            border: .1rem #fff solid;
            cursor: pointer;
            padding: .8rem;
            border-radius: .3rem;

            &:hover {
                border: .1rem rgb(40, 40, 40) solid;
            }
        }
    }

    & .sale-order-labels {
        display: none;
        flex-wrap: wrap;
        gap: 1rem;
        row-gap: .7rem;
        margin-bottom: -1.3rem;

        & .sale-order-label {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .4rem;
            padding: 0 .3rem;
            font-size: .9rem;
            cursor: pointer;
            width: 6.5rem;
            height: 2.5rem;
            text-align: center;

            &:hover {
                transform: scale(1.03);
            }
        }
    }

    & .sale-order-date-header, & .reminder-date-header {
        margin: 0;
        padding: 1.3rem;
        outline: .1rem rgb(50, 50, 50) solid;
        justify-content: space-between;
        align-items: center;

        & .sale-order-date-time, & .reminder-date-time {
            display: flex;
            flex-direction: column;
            gap: .8rem;

            & .sale-order-date, & .reminder-date {
                display: flex;
                flex-direction: column;
                gap: .8rem;
    
                & div {
                    display: flex;
                    justify-content: space-between;
    
                    & .today-button {
                        cursor: pointer;
                        color: rgb(0, 71, 171);
                        font-weight: bold;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            
            & .sale-order-time, & .reminder-time {
                display: flex;
                flex-direction: column;
                gap: .5rem;
    
                & div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;

                    & .exact-time {
                        width: 1.1rem;
                        text-align: end;
                        display: inline-block;
                    }

                    & input {
                        padding: .2rem .3rem;
                    }
                }
            }
        }

        & .sale-order-image div, & .reminder-image div {
            flex-direction: column !important;
            gap: .5rem;
        }
    }

    & .sale-order-date-header {
        display: none;
    }

    & textarea {
        width: 11.5rem;

        &.disabled {
            opacity: .35;
            pointer-events: none;
        }
    }
    
    & .customer-recipient-info {
        display: none;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: .7rem;

        & .sale-order-info {
            display: flex;
            justify-content: space-between;
            align-items: end;

            & div {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                &.same-as-cust {
                    flex-direction: row;
                    align-items: center;
                    justify-content: end;
                    gap: .4rem;

                    & span {
                        font-size: .9rem;
                    }
                }
    
                & h2 {
                    font-weight: normal;
                    font-size: 1.1rem;
                }

                & .social-buttons {
                    flex-direction: row;
                    align-self: end;
                    margin-bottom: .3rem;

                    & img {
                        width: 1.5rem;
                        cursor: pointer;
                        filter: grayscale(100%) drop-shadow(1px 1px 1px rgb(200, 200, 200));
                        opacity: .65;

                        &:hover, &.selected {
                            filter: grayscale(0) drop-shadow(1px 1px 1px rgb(170, 170, 170));
                            opacity: .95;
                        }
                    }
                }
            }
        }
    }

    & .sale-order-textarea, & .reminder-textarea {
        & div {
            display: flex;

            & textarea {
                flex: 1;
            }
        }
    }

    & .sale-order-textarea {
        display: none;
    }

    & .sale-order-products {
        flex-direction: column;
        gap: 1.3rem;
        
        & table {
            display: block;
            overflow: visible;
            width: 100%;

            & tbody {
                position: unset;
            }

            & td {
                font-size: 1rem;
                padding: .6rem;
            }
    
            & td:not(:last-child) {
                white-space: nowrap;
            }
    
            & td:nth-child(2) {
                text-align: center;
            }
    
            & td:last-child {
                width: 100%;
            }
        }
    }

    & .sale-order-checkout {
        flex-direction: column;
        align-items: center;
        gap: .9rem;

        & .sale-order-total-sum {
            box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .24) 0 1px 2px;
            display: flex;
            gap: .5rem;
            background: rgba(42, 82, 190, .95);
            color: rgb(240, 240, 240);
            padding: .7rem;
            border-radius: .5rem;

            & span:last-child {
                font-weight: bold;
                color: rgb(230, 230, 230);
                letter-spacing: .03rem;
            }
        }

        & .free-payment {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-bottom: .3rem;
        }
    }

    & .payment {
        margin-top: -1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & .payment-content {
            display: flex;
            border: .1rem rgb(150, 150, 150) solid;
            padding-bottom: .7rem;
            border-radius: .5rem;

            &.free-payment {
                opacity: .3;
                pointer-events: none;
                filter: grayscale();
            }

            & .cashback, & .cash {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                & h1 {
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: .5rem;
                    color: rgb(235, 235, 235);
                    letter-spacing: .04rem;
    
                    & span:first-child {
                        font-size: 1.9rem;
                    }
                }
            }
    
            & .cashback {
                & h1 {
                    background: rgba(42, 82, 190, .75);
                    gap: .6rem;
                    border-top-left-radius: .35rem;
                }
    
                & .client-info {
                    margin-left: .3rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    & .client, & .balance {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
        
                        & span:last-child {
                            color: rgb(30, 30, 30);
                        }
                    }
    
                    & .balance span:last-child {
                        font-weight: bold;
                        font-size: 1.05rem;
                    }
                }
            }
    
            & .cash {
                & h1 {
                    background: rgba(68, 153, 128, .95);
                    gap: .2rem;
                    border-top-right-radius: .35rem;
                }
    
                & ul {
                    margin-left: .5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    & li {
                        display: flex;
                        align-items: center;
                        gap: .8rem;
    
                        & span:first-child {
                            font-size: 1.7rem;
                            border-radius: 45%;
                            padding: .15rem;
                            cursor: pointer;
                            transition: .05s;
    
                            &:hover {
                                transform: scale(1.15);
                            }
                        }
    
                        &.active-payment-type {
                            font-weight: bold;
    
                            & span:first-child {
                                background: rgba(204, 85, 0, .5);
                            }
                        }
                    }
                }
            }
            
            & .cashback .client-info, & .cash ul {
                height: 4.5rem;
            }
    
            & .order-pay-sum {
                margin-top: 1.2rem;
                justify-content: center;
                display: flex;
                align-items: center;
                gap: .7rem;
    
                & span span:last-child {
                    text-decoration: underline;
                }
    
                & div {
                    display: flex;
                    align-items: center;
                    gap: .4rem;
    
                    & input {
                        padding: .2rem;
                        border-radius: .7rem;
                    }

                    & span {
                        font-size: .9rem;
                    }
                }
            }
    
            & .cashback input {
                width: 4rem;
            }
    
            & .cash input {
                width: 4.7rem;
            }
        }

        & button {
            font-size: 1.3rem;
            background: rgb(68, 153, 128);
            color: rgb(245, 245, 245);
            border-color: rgb(150, 150, 150);
            width: 12rem;
            margin: 0 auto;
            margin-top: -1rem;
            padding: .4rem 0;
    
            &:hover {
                box-shadow: none;
                background: rgb(58, 143, 118);
            }
        }
    }
}

.create-reminder-modal-content {
    width: calc(var(--modal-content-width) + 6rem);
    gap: 2rem;

    & .reminder-date-header {
        padding: 1.2rem 1rem;
        outline-color: rgb(100, 100, 100);

        & img {
            width: 11rem;
        }
    }
}

.create-internet-order-modal-content {
    & .internet-client-info {
        justify-content: space-between;
        align-items: center;
        margin: -1rem 0;

        & div {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

    & .sale-order-stock {
        width: 12rem;
    }

    & .sale-order-flavors, & .sale-order-products {
        & div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0 .7rem 0;

            & h2 {
                font-size: 1.3rem;
                font-weight: bold;
            }
        }

        & table {
            display: block;
            box-shadow: none;
            margin-bottom: 0;

            & tbody {
                display: none;
        
                & td {
                    color: #000;
                }
            }

            & td:nth-child(3), & td:nth-child(4) {
                text-align: center;
            }
            
            & input {
                font-size: .9rem;
                width: 5rem;
            }
            
            & tr {
                background: #fff;
        
                &:hover {
                    background: #fff;
                    outline: none;
                }

                & .remove-internet-product, & .remove-internet-flavor {
                    transition: .1s;
        
                    & span {
                        color: rgba(255, 0, 0, .6);
                        cursor: pointer;
        
                        &:hover {
                            color: rgba(255, 0, 0, .9);
                        }
                    }
                }
            }
        
            & td {
                border-right: none !important;
                font-size: .9rem;
                padding: .5rem .1rem;
            }
        }

        & .one-more-product {
            background: none;
            width: 100%;
            color: #000;
            font-size: 1rem;
            padding: .5rem 0;
            transition: .1s;
        
            &:hover {
                border-color: rgb(30, 30, 30);
            }
        }
    }

    & .sale-order-flavors {
        & h2 {
            margin-bottom: 1.5rem;
        }
        
        & table {
            & tr:hover {
                outline: none;
            }

            & td:nth-child(2) {
                width: 5rem;
                text-align: center;
            }
        }
    }

    & .sale-order-products h2 {
        margin-bottom: -1rem;
    }

    & .sale-order-total-sum {
        align-items: center;
        color: rgb(20, 20, 20) !important;
        background: rgba(79, 118, 181, .1) !important;
        gap: .7rem !important;
        padding: .8rem 1.2rem !important;
        border-radius: .9rem !important;

        & input {
            padding: .1rem;
            width: 5.8rem;
            border-radius: .5rem;
        }

        & span:last-child {
            color: rgb(20, 20, 20) !important;
        }
    }

    & .cashback {
        display: none !important;
    }

    & .cash ul {
        margin: auto !important;
    }
}

.create-shift-modal {
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);

    & .create-shift-modal-content {
        padding: 1.6rem 1.4rem .8rem 1.4rem;

        & h1 {
            font-size: 1.8rem;
            text-align: center;
        }
    
        & .form {
            flex-direction: row;
            align-items: center;

            & h2 {
                width: 10.5rem;
            }

            & select {
                width: 9rem;
            }

            & .enter-value {
                width: 4.5rem;
            }

            & div {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }

        & button {
            align-self: auto;
        }
    }

    & .shift-choices {
        display: flex;
        gap: 1rem;

        & button {
            &:first-child {
                flex: 2;
                background: rgb(240, 240, 240);
                color: rgb(60, 60, 60);
                border: .1rem rgb(150, 150, 150) solid;

                &:hover {
                    background: #fff;
                }
            }

            &:last-child {
                flex: 3;
            }
        }
    }
}

.cash-register-operations-modal-content {
    padding: 1.3rem;
    gap: 1.5rem;

    & h1 {
        text-align: center;
        font-size: 1.7rem;
    }

    & .cash-register-cash {
        border-radius: .3rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding: .7rem;
        outline: .1rem rgb(120, 120, 120) dashed;

        & .form {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & .cash-register-sum {
                display: flex;
                align-items: center;
                gap: .5rem;

                & span:first-child {
                    color: rgb(50, 50, 50);
                }
            }

            &:first-child {
                padding-bottom: 1.2rem;
                border-bottom: .1rem solid rgb(150, 150, 150);
            }

            &:not(:last-child) {
                color: rgb(30, 30, 30);
            }

            & span:not(.cash-register-sum span):last-child {
                font-weight: bold;
                font-family: 'Roboto Mono', monospace;
            }
        }
    }

    & .cash-register-operations {
        border-radius: .3rem;
        display: flex;
        flex-direction: column;
        gap: .9rem;
        padding: 0 .2rem;
        margin-bottom: .7rem;

        & .cash-register-operation-type {
            display: flex;
            border-radius: .5rem;
            border: .1rem solid rgb(130, 130, 130);
            gap: 0;

            & div {
                --button-radius: .35rem;
                cursor: pointer;
                flex: 1;
                padding: .3rem 0;
                justify-content: center;

                &:hover, &.active {
                    color: rgb(235, 235, 235);
                }

                &:first-child {
                    border-right: .01rem solid rgb(130, 130, 130);
                    border-top-left-radius: var(--button-radius);
                    border-bottom-left-radius: var(--button-radius);
                    
                    &:hover, &.active {
                        background: rgba(58, 143, 118, .9);
                    }
                }

                &:nth-child(2) {
                    &:hover, &.active {
                        background: rgba(210, 4, 45, .8);
                    }
                }

                &:last-child {
                    border-left: .01rem solid rgb(130, 130, 130);
                    border-top-right-radius: var(--button-radius);
                    border-bottom-right-radius: var(--button-radius);
        
                    &:hover, &.active {
                        background: rgba(var(--table-hover-color), .25);
                        color: rgb(10, 10, 10);
                    }
                }
            }
        }

        & div {
            display: flex;
            align-items: end;
            gap: .5rem;

            & .enter-value {
                width: 4.5rem;
            }
        }
    }

    & .cash-register-comment-icons {
        padding: 0 .2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & ul {
            display: flex;
            gap: 1rem;

            & img {
                cursor: pointer;
                width: 1.7rem;
                transition: .05s;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }

    & button {
        align-self: auto;
    }
}

@media only screen and (max-width: 1500px) {
    .sale-header div input {
        padding: 0 1.5rem;
        width: unset;
    }

    .sale-content .sale-products {
        gap: .6rem;
        row-gap: .6rem;

        & .sale-product, & .sale-flavor {
            padding: .2rem;
        }
    }

    .sale-content .sale-panel-wrapper {
        max-height: 82.5vh;

        & .sale-panel {
            min-width: 27.5rem;
            width: 27.5rem;
            height: 100%;

            & .sale-pay-buttons {
                & .to-pay {
                    padding: .5rem;
                }
    
                & .checkout-clients {
                    padding: .55rem .2rem;
                    gap: .4rem;
                }
            }
    
            & .sale-cash-register .cash-register-products .products .sale-products {
                max-height: 33.5vh;
                padding: .1rem;
                gap: .4rem;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .sale-header {
        & span, & .cart-mobile {
            display: block;
            font-size: 2.1rem;
        }

        & .cart-mobile {
            display: flex;

            & span {
                font-size: 1.9rem;

                &:first-child {
                    color: rgba(204, 85, 0, .8);
                }
            }
        }

        & h1 {
            display: none;
        }
    }

    .create-shift-modal .create-shift-modal-content {
        padding: .8rem 1.4rem .4rem 1.4rem;
        gap: 1.7rem;
    }

    .create-sale-order-modal-content, .create-internet-order-modal-content {
        & .sale-order-date-header .sale-order-image div img {
            width: 7rem;
        }
    }

    .create-reminder-modal-content {
        gap: 1.7rem;

        & .reminder-date-header img {
            width: 7rem;
        }
    }

    .cash-register-operations-modal-content {
        padding: .7rem .6rem;
        gap: .8rem;

        & h1 {
            font-size: 1.3rem;
        }

        & .cash-register-cash {
            gap: .8rem;
            padding: .7rem .3rem;
        }
    }

    .create-sale-order-modal-content,
    .create-internet-order-modal-content {
        padding: .4rem;

        & .modal-content-name h1 {
            font-size: 1.1rem;
        }

        & .sale-order-labels {
            gap: .5rem;
        }

        & .sale-order-date-header {
            padding: .9rem .6rem;
        }

        & .internet-client-info div {
            gap: .2rem;

            & span {
                font-size: .9rem;
            }
        }

        & .customer-recipient-info {
            gap: 0;

            & .sale-order-info {
                padding: .4rem 0;

                & .phone-input {
                    gap: .3rem !important;

                    & span {
                        &:first-child {
                            display: none;
                        }

                        &.clipboard {
                            font-size: 1.3rem;
                            margin-left: 0;
                        }
                    }

                    & input {
                        padding: .45rem .1rem;
                        width: 7.2rem;
                        font-size: .8rem;
                    }
                }
            }
        }

        & .sale-order-products table {
            width: 100%;
            overflow-x: auto;
        }

        & .payment .payment-content {
            flex-direction: column;
            gap: 1rem;

            & .cashback h1 {
                border-top-right-radius: .35rem;
            }

            & .cash h1 {
                border-top-right-radius: 0;
            }
        }
    }

    .sale-content {
        gap: .5rem;

        & .sale-products {
            flex-direction: column;
            gap: 1rem;
            padding: 0 .2rem;
            gap: .5rem;

            & .sale-product, & .sale-flavor {
                max-width: unset;
                padding: .5rem .2rem;
                border-radius: .4rem;

                & div {
                    flex-direction: row;
                    justify-content: space-between;
                    height: unset;
                    align-items: center;

                    & .sale-flavor-name span {
                        &:first-child {
                            font-size: 1.5rem;
                        }

                        &:last-child {
                            width: 7rem;
                        }
                    }

                    & .sale-product-name {
                        width: 9.5rem;
                        font-size: .9rem;
                    }
    
                    & .sale-product-amount-price, & .sale-flavor-price {
                        gap: 0;
                        width: 9rem;
                    }

                    & .sale-flavor-price span:last-child {
                        width: unset;
                    }
                }

                & .add-product-icon {
                    display: block;
                    border-radius: .4rem;

                    &:hover {
                        background: rgb(30, 30, 30);
                        color: rgb(240, 240, 240);
                    }
                }
            }
        }

        & .sale-panel-wrapper {
            max-height: unset;
            display: none;
            z-index: 2;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .9);
            align-items: center;

            & .sale-panel {
                top: 0;
                height: 86%;
                min-width: unset;
                max-height: unset;
                width: 100%;
                border-radius: 0;

                & .sale-cash-register {
                    padding: .2rem .3rem;
    
                    & .cash-register-products {
                        & .shifts {
                            margin-bottom: .4rem;
                        }
    
                        & .empty-cart {
                            gap: .5rem;
                        }
    
                        & .products {
                            & .products-header {
                                display: none;
                            }
    
                            & .sale-products {
                                max-height: 49vh;
    
                                & .sale-product, & .sale-flavor {
                                    & div {
                                        width: unset;
                                    }
                                }
    
                                & .sale-product-content {
                                    & .sale-product, & .sale-flavor {
                                        padding: .1rem .2rem;
    
                                        & .sale-product-buttons button {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    & .cash-register {
                        gap: .7rem;

                        & button {
                            padding: .2rem 0;
                            font-size: .9rem;
                            border-radius: .4rem;
                        }
                    }
                }
    
                & .sale-pay-buttons {
                    & .to-pay {
                        padding: .2rem;
                    }
    
                    & .checkout {
                        padding: .4rem 0;
                        font-size: 1rem;
                    }
    
                    & .sale-payment {
                        padding: .6rem 0;
                        font-size: 1.3rem;
                    }
    
                    & .checkout-clients {
                        padding: .2rem .1rem;
    
                        & .add-client, & .clear-client {
                            width: 3.5rem;
    
                            & span:not(.material-symbols-outlined) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .sale-header {
        justify-content: space-between;
        padding: .3rem .2rem !important;
        border-radius: 0;

        & input[type=search] {
            margin: auto;
            width: 15.8rem;
            padding: .5rem .3rem;
            padding-left: 2.3rem;
            border-radius: .5rem;
            font-size: 1rem;
            background-position: .3rem;

            &::-webkit-search-cancel-button {
                transform: scale(1.4);
            }
        }

        & div {
            display: none;
        }
    }
}
