.shift-info-modal-content {
    width: calc(var(--modal-content-width) + 11.5rem);
    padding: 1.4rem;
    padding-top: 0;
    gap: 1.7rem;

    & .operations {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;

        & .form {
            display: flex;
            flex-direction: column;
            gap: .7rem;

            &:first-child .types span:first-child {
                text-decoration: underline;
                color: rgb(0, 0, 0) !important;
            }

            &:first-child, &.surcharge {
                pointer-events: none;

                & .bonus-paid, & span.material-symbols-outlined {
                    display: none !important;
                }

                & .money-paid {
                    width: fit-content !important;
                }
            }

            &.cash-register-operation {
                & .bonus-paid {
                    display: none !important;
                }

                & .money-paid {
                    width: fit-content !important;

                    & span.material-symbols-outlined {
                        display: none !important;
                    }
                }
            }

            & .content {
                display: flex;
                flex-direction: row;
                transition: .05s;
                font-weight: bold;
                justify-content: space-between;
                padding: .7rem .4rem;
                cursor: pointer;
                border-radius: 1rem;
        
                &:hover {
                    background: rgb(230, 230, 230);
                }
                
                & div {
                    display: flex;
                    gap: 1.2rem;
                    align-items: center;

                    &:first-child span:first-child {
                        color: rgb(204, 85, 0);
                    }

                    & .types {
                        display: flex;
                        flex-direction: column;
                        gap: .2rem;
                        align-self: end;

                        & span:first-child {
                            color: rgb(30, 30, 30);

                            & .order-number {
                                margin-left: .5rem;
                                color: rgb(50, 50, 50);
                            }
                        }

                        & span:last-child {
                            font-size: .75rem;
                            color: rgb(100, 100, 100);
                            letter-spacing: .03rem;
                            text-transform: uppercase;
                        }
                    }

                    & .bonus-paid {
                        gap: .4rem;
                        width: 7.3rem;
                    }

                    & .money-paid {
                        gap: .3rem;
                        width: 8rem;
                    }

                    & .bonus-paid, & .money-paid {
                        display: flex;
                        align-items: center;

                        & span:first-child {
                            color: rgb(70, 70, 70);
                        }
                    }
                }
            }

            & .inner-content {
                display: none;
                padding-left: .5rem;
                color: rgb(70, 70, 70);

                & table {
                    display: block;
                    margin-bottom: 0;
                    width: 100%;

                    & tbody {
                        position: relative;
                    }

                    & td {
                        font-size: 1rem;
                        padding: .4rem .7rem;

                        &:first-child {
                            width: 100%;
                        }

                        &:nth-child(2) {
                            text-align: center;
                            min-width: 2.5rem;
                        }

                        &:last-child {
                            min-width: 5.5rem;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    & .shift-end-sums {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1.5rem;

        & div {
            display: flex;
            gap: .5rem;
            justify-content: right;
            align-items: end;

            & .end-sum-title {
                display: flex;
                align-items: end;
                width: 11rem;
                gap: .7rem;
            }

            & .end-sum {
                font-weight: bold;
                min-width: 6rem;
            }
        }
    }
}

.shift-table table td {
    &:nth-child(3), &:nth-child(4), &:last-child {
        text-align: center;
    }
}

.shift-table table tr:not(:first-child) {
    cursor: pointer;

    & td:nth-child(5) {
        font-weight: bold;
    }

    & td:last-child span {
        font-size: .9rem;
        color: rgb(240, 240, 240);
        padding: .2rem .7rem;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, .12) 0 1px 2px, rgba(0, 0, 0, .12) 0 1px 2px;
    }
}

@media only screen and (max-width: 1400px) {
    .shift-info-modal-content {
        width: calc(var(--modal-content-width) + 12rem);
        padding: 1rem;
        padding-top: 0;

        & .operations .form .content div .money-paid {
            width: 8rem;
        }
    }

    .shift-table table tr:not(:first-child) {
        & td:nth-child(2), & td:nth-child(3), & td:nth-child(4) {
            font-size: .9rem;
        }
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .shift-info-modal-content .operations .form {
        &:not(&.cash-register-operation) .content .bonus-paid {
            display: none;
        }
    }

    .shift-table table td {
        &:first-child, &:last-child {
            display: none;
        }

        &:nth-child(2) {
            max-width: 1.5rem;
            word-wrap: break-word;
        }
    }
}
