.store-expense-type div {
    width: 10rem;

    &:first-child {
        &:hover, &.active {
            background: rgba(var(--table-hover-color), .25);
            color: rgb(10, 10, 10);
        }
    }

    &:last-child {
        &:hover, &.active {
            background: rgba(220, 20, 60, .2);
            color: rgb(10, 10, 10);
        }
    }
}

.create-store-expense-modal-content {
    gap: 1.7rem;

    & .store-expense-date {
        padding: .45rem;
        width: 8rem;
    }

    & .store-expense-stock {
        width: 11rem;
    }

    & .form div {
        display: flex;
        align-items: center;
        gap: .6rem;

        & input {
            padding: .35rem;
            width: 6rem;
        }
    }
}

.store-expense-table table tr:not(:first-child) {
    &.main-expense {
        background: rgb(235, 235, 235);
        border-bottom: .1rem rgb(170, 170, 170) solid;

        &:hover {
            background: rgba(var(--table-hover-color), .3);
            outline: none;
        }

        & td:first-child {
            font-weight: bold;
        }
    }

    & td {
        &:first-child {
            text-align: center;

            & span:last-child {
                width: 3.5rem;
            }
        }
    
        &:nth-child(4) {
            font-weight: bold;
            color: rgb(220, 20, 60);
            font-family: 'Roboto Mono', monospace;
        }
    
        &:nth-child(4) {
            max-width: 17rem;
        }
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .store-expense-type {
        margin-left: 0;

        & div {
            width: 7.8rem;
        }
    }

    .store-expense-header button {
        align-self: start;
    }
    
    .store-expense-table table {
        & td:first-child {
            padding: .3rem .1rem;
            max-width: 5rem;
        }

        & td:nth-child(2), & td:nth-child(5) {
            display: none;
        }

        & tr:not(:first-child) td:nth-child(3) {
            font-weight: normal;
        }
    }

    .create-store-expense-modal-content {
        padding: .9rem;
        gap: 1.2rem;
    }
}
