.create-waste-modal-content {
    gap: 1rem;
    width: calc(var(--modal-content-width) + 7rem);
    padding: 1rem;

    & .modal-content-name {
        margin-bottom: .5rem;
    }

    & .waste-header {
        margin: .5rem 0;
        
        & select {
            padding: .55rem;
        }
    }

    & .waste-products {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;

        & div:first-child {
            margin-top: 1rem;
            display: flex;
            gap: 2rem;

            & span {
                font-weight: bold;

                &:first-child {
                    width: 13rem;
                }
            }
        }

        & .waste-product {
            display: flex;
            justify-content: space-between;

            & div {
                margin-top: 0;
                display: flex;
                gap: 1rem;

                & input {
                    width: 5rem;
                }

                & input[list=waste-product] {
                    width: 12.7rem;
                }
            }

            & span {
                align-self: center;
                color: rgba(255, 0, 0, .6);
                cursor: pointer;

                &:hover {
                    color: rgba(255, 0, 0, .9);
                }
            }
        }
    }

    & .one-more-product {
        margin-bottom: 1rem;
        background: none;
        width: 100%;
        color: #000;
        font-size: 1rem;
        padding: .5rem 0;
        transition: .1s;

        &:hover {
            border-color: rgb(30, 30, 30);
        }
    }
}

.waste-info-modal-content {
    gap: 1.5rem;
    padding: 1rem;
    padding-top: 0;
    width: calc(var(--modal-content-width) + 3rem);

    & .form {
        & h2 {
            font-weight: bold;
        }

        & h3 {
            font-weight: normal;
            font-size: 1.1rem;
        }
    }

    & .waste-products {
        & h2 {
            font-size: 1.3rem;
        }

        & table {
            display: block;
            width: 100%;
            margin-bottom: 0;
            
            & td {
                font-size: 1rem;

                &:not(:last-child) {
                    white-space: nowrap;
                }

                &:last-child {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    & .waste-products h2 {
        margin: 0;
        margin-bottom: 1rem;
    }
}

.waste-table table tr:not(:first-child) {
    cursor: pointer;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .waste-header button {
        align-self: start;
    }

    .create-waste-modal-content {
        padding: .6rem .4rem;

        & .waste-products .waste-product div {
            gap: .5rem;
        }
    }

    .waste-info-modal-content {
        gap: .8rem;
        padding: .7rem;
        padding-top: 0;
    }

    .waste-table table td:nth-child(3) {
        max-width: 6rem;
        word-wrap: break-word;
    }
}
